<h1>Picture Details</h1>

<div>
<a href="http://localhost:3000/delete_picture/<%= @the_picture.id %>">Delete this picture</a>
<div>

<div>
  <img src= "<%= @the_source %>" width="200">
</div>


<p>
<%= @the_caption %>
</p>
